.__Footer {
  a {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: #ffffff;
    vertical-align: baseline;
    outline: 0px;
    text-decoration: none;
  }
  abbr {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  acronym {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  address {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  applet {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  article {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  aside {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  audio {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  b {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  big {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  blockquote {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  canvas {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  caption {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  center {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  cite {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  code {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  dd {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  del {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  details {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  dfn {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  div {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  dl {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  dt {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  em {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  embed {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  fieldset {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  figcaption {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  figure {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  footer {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  form {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  h1 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  h2 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  h3 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  h4 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  h5 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  h6 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  header {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  hgroup {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  i {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  iframe {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  ins {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  kbd {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  label {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  legend {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  li {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  mark {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  menu {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  nav {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  object {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  ol {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
    padding: 0px 0px 1.3em;
    list-style: none;
  }
  output {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  pre {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  q {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  ruby {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  s {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  samp {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  section {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  small {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  span {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: #ffffff;
    vertical-align: baseline;
    outline: 0px;
  }
  strike {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  strong {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  sub {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  summary {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  sup {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  table {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  tbody {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  tfoot {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  th {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  thead {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  time {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  tr {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  tt {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  u {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
    margin: 0px 0px 0px 18px;
    list-style-type: disc;
    padding: 0px 0px 1.3em;
    list-style: none;
  }
  var {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  .footerArea {
    width: 100%;
    background-image: radial-gradient(
      circle at center bottom,
      #4f90c1 0,
      #12161a 100%
    );
    border-top: 1px solid rgb(51, 51, 51);
    bottom: 0px;
    height: 224px;
  }
  .footerLinks {
    margin: -1px auto 0px;
    width: 850px;
    height: 60px;
    text-align: center;
    position: relative;
    ul {
      list-style-type: none;
    }
    li {
      display: inline;
      a {
        display: inline-block;
        color: rgb(255, 255, 204);
        line-height: 45px;
        text-align: center;
        font-weight: 400;
        width: 120px;
        height: 54px;
        text-decoration: none;
        filter: hue-rotate(215deg);

        background-image: url("https://uk.webuy.com/_nuxt/0077f9ea0146b24c8d04170fb5e03c04.png");
        background-repeat: no-repeat;
        font-size: 14px;
      }
      a.home {
        position: absolute;
        left: 215px;
      }
      a.gaming {
        position: absolute;
        left: 310px;
      }
      a.movies {
        position: absolute;
        left: 195.2px;
      }
      a.computing {
        position: absolute;
        left: 292.8px;
      }
      a.phones {
        position: absolute;
        left: 390.4px;
      }
      a.electronics {
        position: absolute;
        left: 488px;
      }
      a.music {
        position: absolute;
        left: 585.6px;
      }
      a.franchising {
        position: absolute;
        left: 683.2px;
      }
      a.help {
        position: absolute;
        left: 780.8px;
      }
    }
  }
  .uk-footer {
    .clsRepairFooter {
      .footerLinks {
        width: 850px;
        li {
          a {
            position: absolute;
          }
          a.home {
            position: absolute;
            left: 215px;
          }
          a.gaming {
            left: 310px;
          }
          a.movies {
            left: 208px;
          }
          a.computing {
            left: 308px;
          }
          a.phones {
            left: 408px;
          }
          a.electronics {
            left: 508px;
          }
          a.music {
            left: 608px;
          }
          a.repairs {
            left: 608px;
          }
          a.franchising {
            left: 708px;
          }
          a.help {
            left: 808px;
          }
        }
      }
    }
  }
  .policyLinks {
    margin: 15px auto 5px;
    text-align: center;
    list-style: none;
    li {
      display: inline-block;
      margin: 0px 8px;
      border-right: 1px solid rgb(0, 0, 0);
      padding-right: 16px;
      a {
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
        &:hover {
          color: #d1cbcb;
        }
      }
      &:last-child {
        border-right: 0px none;
      }
    }
  }
  #payformcontainer {
    text-align: center;
    ul {
      margin: -4px 0px 0px;
      padding: 0px;
      list-style-type: none;
      li {
        display: inline-block;
        border: 1px solid rgb(51, 51, 51);
        margin-right: 5px;
      }
    }
  }
  .paypal {
    background-image: url("https://uk.webuy.com/_nuxt/c2c674e0d277f2adf8fd0c000c56c5a4.jpg");
    width: 84px;
    height: 29px;
  }
  .mastercard {
    background-image: url("https://uk.webuy.com/_nuxt/00838f37599e8e0b60149136055cd380.jpg");
    width: 45px;
    height: 29px;
  }
  .visa {
    background-image: url("https://uk.webuy.com/_nuxt/c60b90c8da4af5510a60fb99dc010e42.jpg");
    width: 46px;
    height: 29px;
  }
  .americanExpress {
    background-image: url("https://uk.webuy.com/_nuxt/5b052dc4b03aa713207a0b9e5151d216.png");
    width: 70px;
    height: 29px;
    background-repeat: no-repeat;
  }
  .amex_us {
    background-image: url("https://uk.webuy.com/_nuxt/5b052dc4b03aa713207a0b9e5151d216.png");
    width: 70px;
    height: 29px;
    background-repeat: no-repeat;
  }
  .ideal {
    background-image: url("https://uk.webuy.com/_nuxt/0536471adb372dbdaf6cd40cf3ad2916.png");
    width: 47px;
    height: 29px;
  }
  .discover_us {
    background-image: url("https://uk.webuy.com/_nuxt/093709607f54e9aaea4b62c2440067c1.gif");
    width: 48px;
    height: 29px;
  }
  .jcb_us {
    background-image: url("https://uk.webuy.com/_nuxt/b0dfb1a73d907f8acd6e737d3fafcd1d.gif");
    width: 41px;
    height: 29px;
  }
  .dotpay {
    background-image: url("https://uk.webuy.com/_nuxt/60e1485733abb0e2aac1b24a6716a729.png");
    width: 91px;
    height: 29px;
  }
  .przelewy {
    background-image: url("https://uk.webuy.com/_nuxt/7647486c1783ee22e596f5d8cd9aeed7.png");
    width: 85px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
  }
  .apple-pay-li {
    width: 100px;
    padding: 0px;
    margin: 0px 0px 0px -10px;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    border: 0px !important;
    > img {
      width: 70px;
      height: 32px;
      padding: 0px;
      margin: 0px !important;
    }
  }
  .footerMobileLink {
    margin: 10px 0px 5px;
    font-weight: 700;
    a {
      color: #ffffff;
      &:hover {
        color: #d1cbcb;
      }
    }
  }
  .copyrightText {
    display: block;
    background-color: transparent;
    color: rgb(51, 51, 51);
    margin-top: 10px;
    text-align: center;
  }
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .back-to-top {
    cursor: pointer;
    background: url("https://uk.webuy.com/_nuxt/bf83f305687c0e7b6985a2b8e2ee2eaa.png")
      0px 0px no-repeat;
    bottom: 20px;
    display: none;
    height: 34px;
    position: fixed;
    left: 20px;
    width: 34px;
    z-index: 30;
    &:hover {
      background: url("https://uk.webuy.com/_nuxt/bf83f305687c0e7b6985a2b8e2ee2eaa.png") -44px
        0px no-repeat;
    }
  }
  @media screen and (max-width: 768px) {
    .uk-footer {
      .clsRepairFooter {
        .footerLinks {
          width: 768px;
          margin: 0px;
          li {
            a.gaming {
              left: 100px;
            }
            a.movies {
              left: 200px;
            }
            a.computing {
              left: 300px;
            }
            a.phones {
              left: 400px;
            }
            a.electronics {
              left: 500px;
            }
            a.music {
              left: 600px;
              left: 600px;
            }
            a.repairs {
              left: 600px;
              left: 600px;
            }
            a.franchising {
              left: 700px;
            }
            a.help {
              left: 800px;
              width: 100px;
            }
          }
        }
      }
    }
    .footerLinks {
      li {
        a {
          width: 120px;
        }
      }
    }
  }
}
