.__Product {
  .__Layout div {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  div {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  .rating-static {
    width: 80px;
    height: 16px;
    display: inline-block;
    background: url("https://uk.webuy.com/_nuxt/09eb7b5930504aa249f86dcc89186007.png")
      0px 0px repeat-x;
    text-align: left;
  }
  .ratingDiv {
    margin: 5px 0px;
    display: block;
  }
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
    outline: 0px;
  }
  .filed-star {
    background: url("https://uk.webuy.com/_nuxt/4d5e08d300a825a52bab99ab4ee49574.png")
      0px 0px repeat-x;
  }
  a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    text-decoration: none;
  }
  b {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  center {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  dd {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  details {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    .PhonePriceAreaNew {
      select {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px;
        width: 50%;
      }
    }
  }
  dl {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  dt {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    display: block;
    padding: 0;
    font-weight: 700;
  }
  h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    display: block;
    padding: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 22px;
  }
  h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  h5 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    display: block;
    padding: 5px;
  }
  span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    border-spacing: 0;
  }
  tbody {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  th {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  tr {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    margin: 0 0 0 18px;
    list-style-type: disc;
    padding: 0 0 1.3em;
    list-style: none;
  }
  .overflow-show {
    overflow: visible !important;
  }
  .marginTop {
    margin-top: 1%;
  }
  .productArea {
    width: 98.7%;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    height: auto;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .superCatLink {
    padding-left: 1%;
    line-height: 30px;
    width: 100%;
    height: 35px;
    border-right: 1px solid #000;
    div {
      background-repeat: no-repeat;
      width: 30px;
      height: 31px;
      position: absolute;
      top: 1px;
      right: 8px;
      width: 30px;
      height: 31px;
      position: absolute;
      top: 1px;
      right: 8px;
      background-repeat: no-repeat;
    }
  }
  .customproductArea {
    .superCatLink {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 12px;
      border-bottom: 1px solid #ccc;
      padding: 3px 10px 0;
      background: #f5f5f5 !important;
    }
    .productInfoImageArea {
      width: 90%;
    }
    .productImg {
      width: 60%;
      vertical-align: top;
      img {
        max-width: 85%;
        margin: 10px;
      }
    }
    .productDetails {
      vertical-align: top;
      padding-top: 8px;
    }
    .productName {
      padding-bottom: 3px !important;
    }
    .productNamecustm {
      font-family: "Century Gothic", Arial, Helvetica, sans-serif;
      font-size: 21px;
      font-weight: 400;
      text-align: left;
      border-bottom: 1px solid #ccc;
      padding: 12px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .icnphones {
    background-image: url(https://uk.webuy.com/_nuxt/cf710111ad947ec818ee2cac1a18cc46.png);
  }
  .addTop {
    top: 86px !important;
  }
  .productInfoImageArea {
    display: table;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    overflow: hidden;
    font-weight: 400;
  }
  .productImg {
    display: table-cell;
    vertical-align: middle;
    width: 480px;
    height: auto;
    text-align: center;
  }
  .t058-badge-container {
    position: relative;
    width: 100%;
    left: 60%;
    .t058-badge-img {
      right: 0;
      display: block;
      max-width: 100% !important;
      margin: auto 0 auto auto !important;
    }
  }
  .t058-badge-container-inner {
    position: absolute;
    height: auto;
    margin-top: 10px;
  }
  .t058-badge-size-pdp {
    height: 100px !important;
  }
  .center {
    text-align: center;
  }
  .productDetails {
    display: table-cell;
    vertical-align: middle;
    width: 255px;
    height: auto;
    table {
      .productName {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 15px;
      }
      td {
        display: table-cell;
        padding: 6px;
        white-space: normal;
      }
    }
    .productInfoCat {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      padding: 5px 0 8px 10px;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
    .productInfo {
      font-family: "Century Gothic", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 22px !important;
    }
    .greenBtmBordr {
      td {
        color: #38ae20;
        border-bottom: 1px dotted #ccc;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 16px !important;
      }
    }
  }
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .heartdiv {
    text-align: right;
    width: 100%;
  }
  .heartIcon {
    background: url(https://uk.webuy.com/favorite.svg) no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
  }
  .heartIcon_Saved {
    background: url(https://uk.webuy.com/favorite-active.svg) no-repeat;
    filter: hue-rotate(210deg);
    height: 30px;
    width: 30px;
    display: inline-block;
  }
  .heartIcon_hover {
    &:hover {
      background: url(https://uk.webuy.com/favorite-active.svg) no-repeat;
      filter: hue-rotate(210deg);
      height: 30px;
      width: 30px;
      display: inline-block;
    }
  }
  .bold {
    font-weight: 700;
  }
  #Asellprice {
    font-size: 15px;
  }
  select {
    outline: 0;
    font-size: 15px;
    &:focus {
      outline: 0;
    }
  }
  .product-guide-hint {
    width: 14px;
  }
  div.btnParentOverlay {
    position: relative;
    span {
      line-height: 17px;
    }
  }
  .btnSection {
    width: 100%;
    height: 48px;
    text-align: center;
    span {
      width: 95%;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      line-height: normal;
      font-family: "trebuchet ms";
      top: -33px;
      text-shadow: #666 1px 1px 0;
    }
  }
  .customButtonsCs {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 15px;
    margin-top: 7px;
    height: auto;
    .buyNowButton {
      height: auto;
      line-height: 33px;
      background: -webkit-linear-gradient(90deg, #6bbeff 15%, #28a1ff 45%)
        no-repeat;
      border: 1px solid #333;
      transition: all 0.3s ease-out 0s;
    }
    span {
      font-family: "Century Gothic", Arial, Helvetica, sans-serif;
      line-height: inherit;
      font-weight: 400 !important;
      top: 0 !important;
    }
  }
  .buyNowButton {
    background: -webkit-linear-gradient(left, #e6000b 15%, #cc080b 45%)
      no-repeat;
    float: right;
    width: 50%;
    height: 48px;
    text-align: center;
    line-height: 42px;
  }
  .click-reserve-div {
    margin-top: 50px;
    justify-content: center;
    display: flex;
  }
  div.overlaybutton {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    div {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      color: #fff;
    }
  }
  .stockBoxClsse {
    border-top: 1px dotted #ccc;
    padding-top: 0;
  }
  .collection-content {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    p {
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: normal;
      color: #666;
      padding: 0;
      margin: 0;
      position: relative;
      text-align: center;
      box-sizing: border-box;
      &:first-child {
        &::before {
          content: "";
          background-color: #a9a9a9;
          width: 1px;
          height: 100%;
          position: absolute;
          right: 0;
        }
        padding-right: 5px;
      }
      img {
        vertical-align: top;
        margin-right: 7px;
        margin-top: 1px;
      }
      &:last-child {
        padding-left: 5px;
      }
    }
    p.enabled {
      opacity: 1;
    }
  }
  .doteddivider {
    border-bottom: 1px dotted #ccc;
  }
  .custompopheader {
    border: 1px solid #ccc;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    table {
      th {
        background: none 0 0 repeat scroll #f8f8f8;
        font-weight: 400;
        padding: 9px;
        text-align: left;
        &:last-child {
          width: 30%;
        }
      }
    }
    i {
      font-size: 15px;
      color: #999;
      vertical-align: top;
      position: relative;
      display: inline-block;
      padding: 0;
      cursor: pointer;
      &:active ~ .tooltiptext {
        visibility: visible;
      }
      &:hover ~ .tooltiptext {
        visibility: visible;
      }
    }
    i ~ .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
      text-align: center;
      color: #666;
      border: 1px solid #999;
      border-radius: 6px;
      padding: 7px;
      position: absolute;
      z-index: 1000000;
      margin: 28px 0 0 -117px;
      box-shadow: rgba(0, 0, 0, 0.43) 0 0 3px 0;
      &::after {
        content: "";
        border-style: solid;
        border-width: 10px;
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -18px;
        border-color: transparent transparent #fff;
      }
      &::before {
        content: "";
        border-style: solid;
        border-width: 10px;
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-color: transparent transparent #999;
      }
    }
  }
  .collection-div {
    table {
      td {
        &:first-child {
          width: 32%;
        }
        &:last-child {
          width: 40%;
          text-align: center;
        }
      }
      th {
        &:first-child {
          width: 32%;
        }
        &:last-child {
          width: 40%;
          text-align: center;
        }
      }
    }
  }
  .custompopbx {
    table {
      td {
        &:last-child {
          width: 30%;
        }
      }
    }
    height: 120px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    overflow: auto;
    width: auto;
    background-color: #fff;
    background-repeat: repeat-y;
    color: #333;
    display: block;
    text-align: left;
    td {
      border-bottom: 1px solid #ccc;
      font-size: 14px;
    }
  }
  .tooltip-container {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 2px;
  }
  .material-icons {
    font-family: "Material Icons";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    overflow-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
  .stockListTable {
    width: 100%;
  }
  .productDescriptionAreacustom {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    h2 {
      margin-left: 0;
    }
    p {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      line-height: 22px;
    }
    ul {
      list-style: disc;
    }
  }
  .productDescriptionArea {
    height: auto;
    bottom: 0;
    padding: 15px;
    font-weight: 400;
  }
  .prod-det-wrap {
    .head {
      font-size: 18px;
      line-height: 1.07;
      letter-spacing: normal;
      color: #000;
      padding: 15px 0;
      margin: 0;
      font-weight: 700;
    }
  }
  .prod-details-div {
    margin: 0 0 15px;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    float: left;
    width: calc(100% - 20px);
    padding: 15px 0 0 20px;
    li {
      list-style: disc;
      width: 30%;
      float: left;
      padding: 0 5% 15px 0;
      font-size: 15px;
      line-height: normal;
      letter-spacing: normal;
      span {
        font-weight: 700;
        margin-right: 5px;
        font-size: 15px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .customproductArea {
      .productImg {
        width: 58%;
      }
    }
    .svlpro-det {
      right: 25px !important;
    }
  }
  @media screen and (max-width: 1024px) {
    .customproductArea {
      .productImg {
        width: 58%;
      }
    }
    .svlpro-det {
      right: 25px !important;
    }
  }
  @media only screen and (max-width: 1024px) {
    .t058-badge-container {
      position: relative !important;
    }
  }
  @media only screen and (max-width: 1131px) {
    .t058-badge-container.t058-pdp {
      width: 95% !important;
    }
  }
  @media only screen and (min-width: 1132px) {
    .t058-badge-container.t058-pdp {
      width: 90% !important;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .t058-badge-container {
      position: absolute !important;
      top: 0 !important;
      position: absolute !important;
      top: 0 !important;
    }
  }
  @media screen and (max-width: 1280px) {
    .collection-content {
      p {
        &:first-child {
          padding-right: 10px;
        }
        img {
          margin: 4px auto;
          display: block;
          text-align: center;
          margin: 4px auto;
          display: block;
          text-align: center;
        }
        &:last-child {
          padding-left: 10px;
        }
      }
    }
    .collection-div {
      table {
        td {
          &:last-child {
            width: 50%;
            width: 50%;
          }
        }
        th {
          &:last-child {
            width: 50%;
            width: 50%;
          }
        }
      }
    }
    .custompopheader {
      i {
        margin: 0 auto;
        padding: 2px 1px;
      }
    }
  }
}
