.__TermsAndConditions {
  a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    text-decoration: none;
  }
  address {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  b {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  details {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    margin: 0 0 10px;
    font-size: 25px;
    display: block;
    padding: 0;
    font-weight: 700;
  }
  h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    display: block;
    padding: 0;
    font-weight: 700;
  }
  h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    font-size: 20px;
    display: block;
    padding: 0;
    margin: 10px 0;
    font-weight: 700;
  }
  h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    display: block;
    padding: 0;
    margin: 10px 0;
    font-weight: 700;
  }
  h5 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    display: block;
    padding: 5px;
  }
  pre {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  s {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  small {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  strike {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  strong {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    color: #333;
    vertical-align: baseline;
    outline: 0;
    margin: 0 0 0 18px;
    list-style-type: disc;
    padding: 0 0 1.3em;
    list-style: none;
  }
  .marginTop {
    margin-top: 1%;
  }
  .content-area {
    width: 96.4%;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    height: auto;
    padding: 1%;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    .about-content {
      padding: 15px;
      a {
        color: #e21114;
      }
    }
  }
  .about-content {
    ul {
      li {
        list-style-type: disc;
      }
    }
  }
}
